.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**/*.ts  # Exclude TypeScript files in src/
!src/autoQueryLogo.jpg  # Include the icon
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*